{% extends "base.html" %}

{% block head %}
    <title>Hjemmeside</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
{% endblock %}

{% block body %}
    <a href="/logo" class="logo"></a>
        <section class="content">
            <div class="shapes">
                <div class="shape red"></div>
                <div class="shape black"></div>
                <div class="shape white">
                </div>
            </div>
        </section>
    </div>
{% endblock %} 