{% extends "base.html" %}

{% block head %}
<title>Meny</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
{% endblock %}

{% block body %}
<div class="meals-container">
    <h1>{{ day }} meny</h1>
    <div class="food-row">
        {% for meal in meals %}
            <div class="meal-card">
                <img src="{{ url_for('static', filename=meal.image) }}" alt="{{ meal.name }}">
                <p>{{ meal.name }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
